<form class="edit" data-id ="<%= post.id%>">
  <input type="text" name="post[title]" value="<%=post.escape("title")%>"><br>
  <textarea 
    name="post[body]"><%=post.escape("body")%></textarea>
  <input type="submit" value="Edit!">
</form>

