<h1> Sign in! </h1>

<form action="<%= session_url %>" method="POST">
  <input 
    type="hidden" 
    name="authenticity_token" 
    value=<%= form_authenticity_token %>>
    
  <label 
    for="session_user_name">
    User name
  </label>
  
  <input 
    name="session[user_name]" 
    id="session_user_name" 
    type="text">
    
  <label 
    for="session_password">
    Password
  </label>
  
  <input 
    name="session[password]" 
    id="session_password" 
    type="password">
    
  <input 
    type="submit" 
    value="Login">
</form>

<%= link_to "Sign up!", new_user_url %>