<% unless @user.errors.full_messages.empty? %>
<div class="form_errors">
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</div>
<% end %>

<form action="<%= action %>" method="POST" >
  <%= authenticity_token%>

  
  <label for="user_email">
    Email
  </label>
  <input type="text" name="user[email]" id="user_email">
  
  <label for="user_password">
    Password
  </label>
  <input type="password" name="user[password]" id="user_password">
  
  <input type="submit" value="Go for it!">
</form>
