<h2>My name is <%= @user.username %></h2>

<% if @user == current_user %>
  <h3>Create new goal</h3>
  <%= render partial: "goals/form", locals: { goal: @new_goal } %>
<% end %>


<% @user.goals.each do |goal| %>
  <% if !goal.private || goal.user == current_user %>
    <%= render partial: "goals/goal", locals: { goal: goal } %>
  <% end %>
<% end %>