<h1>Every cat</h1>


<ul class="cat_list">
  <% @cats.each do |cat| %>
  <li>
    <a href="<%= cat_url(cat) %>">
      <img class="thumbnail" src= <%= cat.image_url %> >
    </a>
    <%= link_to cat.name, cat_url(cat) %>
  </li>
  <% end %>
</ul>

<%= link_to "Rent a cat!", new_cat_rental_request_url if signed_in? %>
