<h1>Welcome <%= current_user.username %>!</h1>

<b>Your Feed!</b>
<div class="infinite-tweets">

      
    <!-- <% @feed_tweets.each do |tweet| %>
      <li><%= render "tweets/tweet", tweet: tweet %></li>
    <% end %> -->
      <ul id="feed">
      <script type="text/template" id="feed-template">
          <%% tweets.forEach(function (tweet) { %>
            <li><strong>post: </strong><%%=tweet.content%><br> <strong> by: </strong> <%%=tweet.user.username%> </li><br>

          <%% }); %>
      </script>
      </ul>  
  <a href="javascript:void(0)" class="fetch-more">Fetch More</a>
</div>
<%= render "tweets/form" %>

<script>
$(function(){
  $(".fetch-more").infiniteTweets();
})
  
</script>